.addButton {
  width: 22px;
  height: 22px;
  border-radius: 20px;
  background-color: white;
}

.tabs {
  float: right;
  transform: translateX(50%);
  padding: 8px;
  margin: 10px;
  height: max-content;
  width: max-content;
  border-radius: 1000px;
  background-color: #1a1a1a;
}
.backgroundCover {
  pointer-events: none;
  user-select: none;
}
.promptOuter {
  height: max-content;
  width: 40%;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: rgb(237, 237, 237);
  border-radius: 10px;

  text-align: center;
  color: #1d1d1d;
}
.promptInner {
  padding: 20px;
}
.exitButton {
  margin: 5px;
  float: right;
  width: 25px;
}
.mainImage {
  border: 0px solid rgb(225, 225, 225);
  display: inline-block;

  width: 50%;
}
canvas {
  border: 0px solid rgb(225, 225, 225);

  width: 50%;
  float: left;
}
.def {
  width: 100px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
.bg1 {
  background-color: rgb(90, 90, 90);
}
body {
  background-color: black;
  color: rgb(243, 243, 243);
  overflow: hidden;
}
.visibleBG {
  background-color: rgb(34, 34, 34);
  padding: 6px;
  margin: 4px;
  font-family: "Poppins";
  line-height: 20px;
  width: max-content;
}
.noSpacing {
  padding: 0px;
  margin: 0px;
}
.addButton {
  width: 30px;
  margin: 0px 5px;
  height: 30px;
  border-radius: 20px;
}
body {
  font-family: "Roboto";
  line-height: 12px;
  font-size: 15px;
}
textarea {
  resize: none;
}
input[type="range"] {
  overflow: hidden;
  width: 120px;
  height: 12px;
  -webkit-appearance: none;
  background-color: #313131;
  outline: none;
  border-radius: 12px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
input[type="range"]::-webkit-slider-thumb {
  width: 12px;
  -webkit-appearance: none;
  height: 12px;
  border-radius: 12px;
  background: #c5c5c5;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #a7a7a7;
}
::-webkit-file-upload-button {
  background-color: #313131;
  color: azure;
  border: none;
  padding: 4px;
  width: 130px;
  font-family: "Roboto";
  font-size: 20px;
  outline: none;
  margin: 10px;
}
tr {
  margin: 0px;
  padding: 0px;
}
td {
  padding: 0px;
  margin: 0px;
}
table {
  padding: 0px;
  margin: 0px;
}
button {
  background-color: #313131;
  color: azure;
  border: none;
  padding: 4px;
  width: 130px;
  font-family: "Roboto";
  font-size: 20px;
  outline: none;
}
button:hover {
  background-color: #272727;
}
button:active {
  background-color: #1d1d1d;
}
input[type="text"] {
  margin: 5px;
  font-family: "Roboto";
}
select {
  padding: 4px;
  border: none;
  outline: none;
  margin: 3px;
}
